--extra-index-url https://download.pytorch.org/whl/cu130
numpy
stable-ts-whisperless
fastapi
requests
faster-whisper
uvicorn
python-multipart
ffmpeg-python
watchdog
torch
tqdm
transformers
sentencepiece
